.feedback {
    background-color: #f8f8f8;
}

.container-feedback {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.fb-left {
    margin-top: 100px;
}

.fb-left-h2 {
    font-size: 2.5rem;
    letter-spacing: -2px;
    line-height: 3rem;
    align-items: center;
    font-weight: 500;
}



.fb-right {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    margin-left: -110px;
}

.ghili {
    color: rgb(244, 186, 79);
    margin-bottom: 1rem;
}

.h5-fb {
    margin-top: 1rem;
}


@media screen and (max-width:960px) {
    .container-feedback  {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .fb-right {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .fb-left{
        margin-left: 0;
        margin-top: 18rem;
    }
    
}

@media screen and (max-width:650px){
    .container-feedback {
        display: flex;
        flex-direction: column;
    }

    .fb-right {
        margin-left: 0;
    }

    .fb-left{
        margin-top: 5rem;
    }
} 

